$blue : rgb(19, 60, 120);
$blue2 :rgb(36, 140, 220);
$green :rgba(13, 102, 103, 1);



body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05em;
    color: rgb(39, 39, 39);

    background: url("./assets/bg.svg");
    background-size: cover ;
    background-repeat: no-repeat;


    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 2.3em;
    letter-spacing: 0.1em;
}

.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
}

.main {
    display: flex;    
    //flex-direction: column-reverse;
    width: 80%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.791);
    border-radius: 20px;
    box-shadow: #1f1f1f 3px 5px 2px;

/*     position: fixed;
    bottom: 20px;
    z-index: 3;
    opacity: 0.5;
    transform: scaleY(0.3);
    transform-origin: bottom;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
        transform: scaleY(1);
    } */

    &__elem {
        width: 50%;
    }

    &__previsu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        border-left: 1px rgba(173, 173, 173, 0.499) solid;

        i {
            font-size: 7em;
            color: rgba(140, 163, 171, 0.625);
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            max-height: 600px;
        }
    }
}

.main-paysage {
    flex-direction: column-reverse;
    &__elem {
        width: 100%;
    }
}

.bigImage {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    img {
       // max-width: 100%;
       object-fit: cover;
    }
}


button {
    color: $blue;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 30px;
    padding: 15px 12px;
    font-size: inherit;
    font-family: inherit;
    box-shadow: rgba(80, 80, 80, 0.609) 2px 2px 3px;
    margin: 10px;

    &:hover {
        border: $blue2 solid 1px;
        color: $blue2;
        cursor: pointer;
        background: rgb(236, 245, 255);
    }
    
    &.active {
        background: $blue2;
        color: white;
        border-color: $blue2;
    }

}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
    & button {
        width: 100px;
    }
}

input {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: 1px solid rgb(189, 189, 189);
    padding: 7px;
    border-radius: 7px;

    &:focus {
        box-shadow: 0px 0px 5px rgb(16, 156, 231);
    }
}

.checkbox {
    width: 45px;
    height: 20px;
    border-radius: 30px;
    border: rgba(128, 128, 128, 0.652) 1px solid;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-y: hidden;

    & .elem {
        display: flex;
        align-items: center;
        position: relative;

        transform: translateX(-22px);
        transition: all 0.3s;

        & .circle{
            width: 20px;
            height: 20px;
            background-color: white;
            border: 1px solid grey;
            border-radius: 50%;
            z-index: 2;
        }

        & .rec {
            width: 50px;
            height: 20px;
            background: #93dbff;
            position: absolute;
            left: -40px;
        }
    }

    &--active {
        & .elem {
            transform: translateX(0);
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 1.1em;
    }

    i{ 
        color: grey;
        font-size: 1.2em;
        &:hover {
            color: $blue2;
            cursor: pointer;
        }
    }

    &--size {   
        & .first_bloc {
            margin-top: 10px;
            width: 70%;
            display: flex;
            justify-content: space-around;
        }

        & .textInput {
            width: 70px;
            margin-left: 10px;
        }

        & .second_bloc {
            margin-top: 50px;
        }

        & .vertical {
            transform: rotate(0.75turn);
        }
    }

    &--settings {
        width: 100%;        

        & .bloc {
           
        }
    }

    &--filter {
        width: 100%;

        & .bloc1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            margin: auto;
            margin-top: 15px;
        }
    }

    & .blocBigInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        margin-top: 15px;

        input {
            width: 70%;
        }
    }
}
